@model HD_proj.Models.Gcndkkd

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Gcndkkd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.So)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.So)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tencoso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tencoso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Truso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Truso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachikinhdoanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachikinhdoanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loaihinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loaihinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phamvi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phamvi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaycap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaycap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayhieuluc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayhieuluc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trangthai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quyetdinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quyetdinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nguoikyduyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nguoikyduyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
